.counter-1 {
  color: plum;
}
.counter-2 {
  color: cadetblue;
}
.counter-3 {
  color: cornflowerblue;
}
.counter-4 {
  color: coral;
}
.counter-5 {
  color: crimson;
}
.counter-6 {
  color: slateblue;
}
